.btn-blue {
	background-color:#B5E99B;
	padding: 20px 40px;
	width: 30px;
	border-radius: 8px;
	color: black;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
	font-size: 11px;
	padding-left: 8px;
}


